.weather
    .weather__today
        h2 #{data.city}
            span #{data.temperature} &deg;C
        .weather__code
            p
                span.weather-icon(class=data.codeClass)
                span.weather__code-text #{data.condition}, #{data.wind}
    .weather__forecasts
        .row
            each forecast in data.forecasts
                .col-xs-3.col-20percent
                    .weather__forecast
                        .weather__forecast-date
                            :php
                                | Jenssegers\Date\Date::setLocale('ru'); echo Jenssegers\Date\Date::parse($forecast['date'])->format('l');
                        .weather__forecast-temp
                            span.high= forecast.high
                            span.low= forecast.low
                        div
                            span.weather-icon(class=forecast.codeClass)
                        .weather__forecast-cond= forecast.condition
                        .weather__forecast-cond= forecast.text